.contractContainer {

}

.contractAddress {
  cursor: pointer;
  font-size: 1em !important;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  color: blue;
}

.noContractWrapper {
  display: block;
  margin: auto;
  color: #c9c9c9;
  line-height: 10em;
  font-size: 3em;
  text-align: center;
}
